
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: black;
  }
  
  .container {
    display: flex;
    
    border-color: rgba(237, 237, 16, 0.982);
  }
  
  .sidebar {
    background-color: orange;
    padding: 20px;
    width: 200px;
    border-style: solid;
    border-right: #333;
    align-items: center;
  }
  
  .profile-picture {
    margin-bottom: 20px;
  }
  
  .profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    transition: 0.5s;
  }
  
  nav ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 20px;
    width: 100%;
    background-color: gray;
    color: whitesmoke;

  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul li {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: aliceblue;
  }

  .profile-picture :hover {
    transition: 0.5s;

    -ms-transform: scale(4.6);

    -webkit-transform: scale(4.6);

    transform: scale(1.5);
  }

  .buttons :hover {
    transition: 0.5s;

    -ms-transform: scale(4.6);

    -webkit-transform: scale(4.6);

    transform: scale(1.5);
  }
  .buttons li{
    transition: 0.5s;

  }

  .side-footer {
    background-color: orange;
    width: 150px;
    height: 50px;
    color: black;
  
  }

  .container-footer {
    background-color: white;
    border-radius: 10px;
    
  }

  .container-footer a :hover{
    transition: 0.5s;

    -ms-transform: scale(4.6);

    -webkit-transform: scale(4.6);

    transform: scale(1.9);
  }
  .container-footer ion-icon {
    transition: 0.5s;
  }

  .email-link {
    color: red; 
    text-decoration: none;
  }
  .contact button {
    border-radius: 10px;
    background-origin: padding-box;
    width: 60px;
    height: 30px;
  }

  .contact button :hover{
    transition: 0.5s;

    -ms-transform: scale(4.6);

    -webkit-transform: scale(4.6);

    transform: scale(1.5);
  }
  .contact ion-icon{
    transition: 0.5s;
  }

  .call {
    transition: 0.5s;
    background-color: #333;
    width: 180px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
  }

.call :hover {
  transition: 0.5s;

    -ms-transform: scale(4.6);

    -webkit-transform: scale(4.6);

    transform: scale(1.5);
}
.call ion-icon {
  transition: 0.5s;
}

.content img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  transition: 0.5s;
}
.video {
  width: 350px;
  height: 200px;
  border-radius: 10px;

}

.content :hover {
  transition: 0.5s;

    -ms-transform: scale(4.6);

    -webkit-transform: scale(4.6);

    transform: scale(1.2);
}